/* large screens */
@media (min-width: 1600px)
{

}


@media (max-width: 1500px)
{
    .quiz-question
    {
        width: 100%;
    }
}


/* Desktops/Laptops */
@media (max-width: 1200px)
{
    .wrapper
    {
        width: 100%;
        margin-left: 0;
    }
    .quiz-question {
        height: 400px;
        width: 80%;
        padding-left: 0;
        margin-bottom: -74px;
    }
    .quiz-question img
    {
        width: 100%;
    }
    .quiz-question h2
    {
        font-size: 30px;
    }
}

/* Laptops */
@media (max-width: 1024px)
{

}

/* Tablets */
@media (max-width: 768px)
{
    .tab-70
    {
        width: 70%;
    }
    .quiz-question {
        height: 290px;
        padding-left: 0px;
        padding: 0 5px;
    }
    .quiz-question h2
    {
        font-size: 25px;
    }
    fieldset
    {
        margin-top: 260px;
        width: 65%;
    }
    .next-prev button
    {
        width: 70%;
        margin-bottom: 20px;
    }
    .control-btn {
        padding: 8px 65px!important;
    }
}

/* mobile */
@media (max-width: 576px)
{
    .sm-none
    {
        display: none;
    }
    .sm-100
    {
        width: 100%;
    }
    fieldset
    {
        width: 95%;
    }
    .next-prev button
    {
        margin: 0 auto;
        width: 95%;
    }
    .quiz-question
    {
        width: 100%;
        height: 290px;
    }
    .quiz-question h2
    {
        width: 100%;
    }
    .control-btn {
        padding: 8px 15px;
    }
}